---
---

@import "fonts";

$text-color: #333;
$page-width: 57rem;
$aside-width-left: 12.5rem;
$level3-headings: 15rem;
$contact-details: 24.5rem;

html {
  --bg: #f8f8f2;
  --fg1: #272822;
  --fg2: #272822;
  --fg3: #272822;
  --fg4: #272822;
  --fg5: #272822;
  --fg6: #960050;
  --sel-bg: var(--fg6);
  --sel-fg: var(--bg);
  font-size: 12pt;
  font-family: "rubik-regular";
  * {
    transition: color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  &:target {
    --bg: #272822;
    --fg1: #f8f8f2;
    --fg2: #f92672;
    --fg3: #e6db74;
    --fg4: #960050;
    --fg5: #a6e22e;
    --fg6: #66d9ef;
    --sel-bg: var(--fg5);
    --sel-fg: var(--bg);

    nav {
      background-color: var(--bg);
      a[href$="-dark"] {
        display: none;
      }
      a[href$="-light"] {
        display: inline-block !important;
      }
    }
  }
  nav {
    position: fixed;
    z-index: 900;
    background-color: var(--fg1);
    right: 0;
    border-radius: 0 0 0 0.5rem;
    padding: 0.5rem;
    a {
      padding-top: 5px;
    }
    a[href^="#toggle-"] {
      padding-top: 0;
    }
    a {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      padding: 0.4rem;
      svg {
        color: #f8f8f2;
      }
    }
    a[href$="-dark"] {
      svg {
        color: #e6db74;
      }
    }
    a[href$="-light"] {
      display: none;
    }
  }
}

/* Print also shares the same styles as the under 1000px layout */
@media print {
  body {
    border-top: none;
  }
  html,
  html:target {
    --bg: #f8f8f2;
    --fg1: #272822;
    --fg2: #272822;
    --fg3: #272822;
    --fg4: #272822;
    --fg5: #272822;
    --fg6: #272822;
    a {
      text-decoration: none;
    }
  }
  a[href$=".pdf"],
  a[href^="#toggle-"] {
    display: none;
  }
}

@media screen {
  a[href$="//cv.chrissnijder.nl"]
  {
    display: none;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

body {
  color: var(--fg1);
  font-weight: normal;
  margin: 0 auto;
  background: var(--bg);
  z-index: 100;
  p,
  a,
  ul {
    font-size: 1rem;
  }
  a {
    color: var(--fg6);
    &:visited {
      color: var(--fg4);
    }
  }
  h1,
  h3 {
    color: var(--fg2);
  }
  h2 {
    color: var(--fg5);
  }
  ::selection {
    color: var(--sel-fg);
    background: var(--sel-bg);
  }
}

main {
  position: relative;
  padding: 2rem 4rem;
  display: grid;
  grid-template: max-content / $aside-width-left $level3-headings 1fr $contact-details;
  grid-auto-flow: row;
  column-gap: 2rem;
  row-gap: 1.5rem;
  place-content: start;
  align-items: start;
  > h1:nth-of-type(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  > h2:nth-of-type(1) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  > blockquote:nth-of-type(1) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    margin: 0;
    justify-self: end;
    text-align: right;
    ul {
      list-style: none;
      li {
        line-height: 1.5rem;
      }
    }
  }
  > h3 {
    grid-column: 1 / 2;
    justify-self: end;
    padding-top: 0;
    text-align: right;
  }
  > h4 {
    grid-column: 2 / 5;
  }
  > h5 {
    grid-column: 2 / 5;
  }
  > * {
    grid-column: 2 / 5;
  }

  width: auto;
  padding: 1rem;
  max-width: calc(1vw -2rem);
  @media only screen and (min-width: 980px) {
    width: $page-width;
    margin: auto;
  }
  hr {
    display: block;
    position: relative;
    border: none;
    width: 100%;
    border-top: 1px solid var(--fg1);
    grid-column: 1 / 5;
    margin: 0.6rem 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 220%;
    font-weight: bold;
  }

  h2 {
    font-size: 160%;
    font-style: italic;
    font-weight: normal;
  }

  h3 {
    font-size: 120%;
    font-weight: normal;
    + ul,
    + p + ul {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: start;
      gap: 1rem;
      padding: 0;
      li {
        flex: 0 0 13rem;
        margin: 0;
        em {
          float: right;
          font-style: normal;
        }
      }
    }
    // Skills list
    + ul {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: start;
      // Not widely supported yet
      // gap: .6rem 3rem;
      li {
        flex: 0 0 18rem;
        &:nth-child(odd) {
          margin-right: 3rem;
        }
      }
      em {
        color: var(--fg3);
      }
    }
  }

  h4 {
    font-size: 120%;
    font-weight: bold;
    margin: 0.2rem 0;
    em {
      font-weight: lighter;
      font-style: italic;
      margin-right: 1rem;
    }
  }
  h5 {
    font-size: 120%;
    font-weight: bold;
    margin-left: 1rem;
    ~ dl {
      margin-left: 1.5rem;
      dt {
        margin-top: 2.5rem;
        &:nth-of-type(1) {
          margin-top: 0;
        }
        font-weight: bold;
        font-style: italic;
      }
      dd {
        margin: 1rem 0 1rem 2rem;
        line-height: 1.4rem;
        ul {
          margin: 1.5rem 0;
          list-style: none;
          padding: 0;
          font-weight: bold;
          display: flex;
          flex-direction: row;
          flex-flow: wrap;
          justify-content: start;
          gap: 0.6rem 2.2rem;
          li {
            flex: 0 0 8rem;
          }
        }
      }
    }
  }
  h3 + ul,
  h3 + p + ul {
    list-style: none;
  }
  ul,
  p {
    margin: 0 0 0 1.5rem;
  }
  p {
    line-height: 1.5rem;
  }
  ul {
    padding-left: 1rem;
    list-style: square;
    li {
      margin: 0;
      padding: 0;
      p {
        margin: 1em 0.5em;
        line-height: 110%;
      }
    }
  }
}

// Deviations from the format
#hobbies + ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: start;
  gap: 0.6rem 2.2rem;
  li {
    flex: 0 0 12rem;
  }
}
