<!DOCTYPE html>
<html id="toggle-dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *.chrissnijder.nl"; object-src 'none'; require-trusted-types-for 'script';">
    <title>{% if page.title %} {{ page.title }} {% endif %}</title>
    <link
      href="static/styles/{{ site.style }}.css"
      type="text/css"
      rel="stylesheet"
    />
    <script src="/static/scripts/tracking.js"></script>
    <script src="https://matomo.chrissnijder.nl/matomo.js" async defer></script>
  </head>
  <body>
    <nav>
      <a
        href="/static/files/{% if page.filename %}{{ page.filename }}{% endif %}.pdf"
        download
        aria-label="Download as PDF"
        title="Download as PDF"
      >
        <svg viewBox="0 0 24 22">
          <path
            fill="currentColor"
            d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z"
          />
        </svg>
      </a>
      <a href="#toggle-dark" aria-label="Off" title="Hacker mode on">
        <svg viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z"
          />
        </svg>
      </a>

      <a href="#toggle-light" aria-label="On" title="Hacker mode off">
        <svg viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M12,2A7,7 0 0,1 19,9C19,11.38 17.81,13.47 16,14.74V17A1,1 0 0,1 15,18H9A1,1 0 0,1 8,17V14.74C6.19,13.47 5,11.38 5,9A7,7 0 0,1 12,2M9,21V20H15V21A1,1 0 0,1 14,22H10A1,1 0 0,1 9,21M12,4A5,5 0 0,0 7,9C7,11.05 8.23,12.81 10,13.58V16H14V13.58C15.77,12.81 17,11.05 17,9A5,5 0 0,0 12,4Z"
          />
        </svg>
      </a>
    </nav>
    <main>{{ content }}</main>
  </body>
</html>
